.container {
  /*font-family: Arial, sans-serif;*/
  max-width: 850px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

mat-card {
  flex: 1 1 calc(50% - 20px); /* Take 50% width minus gap */
  max-width: calc(100% - 20px);
  margin: 0;
  padding: 20px;
  box-sizing: content-box;
}

.calc-input-card {
  margin: 20px 10px;
  max-width:474px;
}

.calc-result-card {
  margin: 20px 10px;
  max-width:474px;
}

.calculation-actions {
  display: flex;
  justify-content: center;
}

.calculation-actions button {
  margin-right: 5px;
}

/* Ensure cards stack vertically on smaller screens */
@media (max-width: 768px) {
  mat-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.calc-result {
  display: flex;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

/*.button-group {*/
/*  display: flex;*/
/*  gap: 10px;*/
/*  margin-top: 10px;*/
/*}*/

/*.button-group button {*/
/*  padding: 10px 20px;*/
/*  background-color: #007BFF;*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  font-size: 14px;*/
/*  cursor: pointer;*/
/*  transition: background-color 0.3s;*/
/*}*/

/*.button-group button:hover {*/
/*  background-color: #0056b3;*/
/*}*/

/*.button-group button:active {*/
/*  background-color: #003d80;*/
/*}*/

table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for input fields and labels */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

form label {
  flex: 0 0 150px; /* Set label width */
  text-align: right;
}

form input {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.3s;
}

form input:focus {
  border-bottom-color: #007BFF;
}
