<div class="container">

  <div class="theme-controls">
    <div class="theme-control-group">
<!--      <label class="theme-control-label">Color Scheme</label>-->
      <mat-button-toggle-group
        [value]="themeService.getTheme()"
        (change)="changeTheme($event.value)"
        aria-label="Color scheme">
        <mat-button-toggle [value]="ThemeMode.LIGHT">
          <mat-icon>light_mode</mat-icon>
          Light
        </mat-button-toggle>
        <mat-button-toggle [value]="ThemeMode.DARK">
          <mat-icon>dark_mode</mat-icon>
          Dark
        </mat-button-toggle>
        <mat-button-toggle [value]="ThemeMode.SYSTEM">
          <mat-icon>brightness_auto</mat-icon>
          System
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="theme-control-group">
<!--      <label class="theme-control-label">Color Palette</label>-->
      <mat-button-toggle-group
        [value]="themeService.getPalette()"
        (change)="changePalette($event.value)"
        aria-label="Color palette">
        <mat-button-toggle [value]="ThemePalette.MAGENTA_VIOLET">
          <span class="palette-indicator magenta-violet"></span>
          Magenta
        </mat-button-toggle>
        <mat-button-toggle [value]="ThemePalette.AZURE_CYAN">
          <span class="palette-indicator azure-cyan"></span>
          Azure
        </mat-button-toggle>
        <mat-button-toggle [value]="ThemePalette.GREEN_CHARTREUSE">
          <span class="palette-indicator green-chartreuse"></span>
          Green
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div class="color-scheme-section">
    <div class="color-item primary">
      <div class="color-item-name">Primary</div>
      <div>
        <div class="color-item-code">--mat-sys-primary</div>
        <div class="color-item-code">--mat-sys-on-primary</div>
      </div>
    </div>
    <div class="color-item surface">
      <div class="color-item-name">Surface</div>
      <div>
        <div class="color-item-code">--mat-sys-surface</div>
        <div class="color-item-code">--mat-sys-on-surface</div>
      </div>
    </div>
    <div class="color-item error">
      <div class="color-item-name">Error</div>
      <div>
        <div class="color-item-code">--mat-sys-error</div>
        <div class="color-item-code">--mat-sys-on-error</div>
      </div>
    </div>
    <div class="color-item outline">
      <div class="color-item-name">Outline</div>
      <div>
        <div class="color-item-code">--mat-sys-outline</div>
        <div class="color-item-code">--mat-sys-on-outline</div>
      </div>
    </div>
    <div class="color-item outline-variant">
      <div class="color-item-name">Outline Variant</div>
      <div>
        <div class="color-item-code">--mat-sys-outline-variant</div>
        <div class="color-item-code">--mat-sys-on-outline-variant</div>
      </div>
    </div>
  </div>
  <div class="color-scheme-section">
    <div class="color-item primary-container">
      <div class="color-item-name">Primary Container</div>
      <div>
        <div class="color-item-code">--mat-sys-primary-container</div>
        <div class="color-item-code">--mat-sys-on-primary-container</div>
      </div>
    </div>
    <div class="color-item secondary">
      <div class="color-item-name">Secondary</div>
      <div>
        <div class="color-item-code">--mat-sys-secondary</div>
        <div class="color-item-code">--mat-sys-on-secondary</div>
      </div>
    </div>
    <div class="color-item secondary-container">
      <div class="color-item-name">Secondary Container</div>
      <div>
        <div class="color-item-code">--mat-sys-secondary-container</div>
        <div class="color-item-code">--mat-sys-on-secondary-container</div>
      </div>
    </div>
    <div class="color-item tertiary">
      <div class="color-item-name">Tertiary</div>
      <div>
        <div class="color-item-code">--mat-sys-tertiary</div>
        <div class="color-item-code">--mat-sys-on-tertiary</div>
      </div>
    </div>
    <div class="color-item tertiary-container">
      <div class="color-item-name">Tertiary Container</div>
      <div>
        <div class="color-item-code">--mat-sys-tertiary-container</div>
        <div class="color-item-code">--mat-sys-on-tertiary-container</div>
      </div>
    </div>
    <div class="color-item error-container">
      <div class="color-item-name">Error Container</div>
      <div>
        <div class="color-item-code">--mat-sys-error-container</div>
        <div class="color-item-code">--mat-sys-on-error-container</div>
      </div>
    </div>
  </div>
</div>
<div class="calc-container">
  <div class="calc-intro">
    <h1>bla bla bla</h1>
  </div>
  <div class="calc-details">
    <mat-card class="mat-elevation-z8 calc-input-card">
      <img mat-card-image src="img/related-1.jpg" alt="bla">
      <mat-card-header>Compound Interest Calculation Input</mat-card-header>
      <form [formGroup]="apiForm" (ngSubmit)="submitForm()">
        <mat-form-field appearance="fill" class="mat-form-field">
          <mat-label>Original Principal Sum</mat-label>
          <input matInput id="originalPrincipalSum" formControlName="originalPrincipalSum" type="number"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nominal Annual Interest Rate</mat-label>
          <input matInput id="nominalAnnualInterestRate" formControlName="nominalAnnualInterestRate" type="number"
                 step="0.01"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Compounding Frequency</mat-label>
          <input matInput id="compoundingFrequency" formControlName="compoundingFrequency" type="number"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Monthly deposit</mat-label>
          <input matInput id="monthlyDeposit" formControlName="monthlyDeposit" type="number"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Time (in years)</mat-label>
          <input matInput id="time" formControlName="time" type="number"/>
        </mat-form-field>

        <div class="toggles">
          <mat-slide-toggle id="depositAtStart" formControlName="depositAtStart">Deposit at start</mat-slide-toggle>
          <mat-slide-toggle id="includeDetails" formControlName="includeDetails">Include details</mat-slide-toggle>
        </div>

        <mat-card-actions class="calculation-actions">
          <button mat-flat-button type="submit">Submit</button>
          <button mat-stroked-button color="warn" type="button" (click)="clearForm()">Clear</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <mat-card class="mat-elevation-z8 calc-result-card" *ngIf="finalAmount">
      <mat-card-header>Compound Interest Calculation Results</mat-card-header>
      <mat-card-title>Final Amount: {{ finalAmount | number:'1.2-2' }}</mat-card-title>
      <mat-card-content>
        <div *ngIf="details">
          <h3>Details:</h3>
          <table mat-table class="mat-elevation-z8" [dataSource]="detailsDatasource" multiTemplateDataRows>
            <ng-container matColumnDef="periodNumber">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let detail">{{ detail.periodNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="startingAmount">
              <th mat-header-cell *matHeaderCellDef>Starting value</th>
              <td mat-cell *matCellDef="let detail">{{ detail.startingAmount | number:'1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="interestForPeriod">
              <th mat-header-cell *matHeaderCellDef>Interest</th>
              <td mat-cell *matCellDef="let detail">{{ detail.interestForPeriod | number:'1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="accumulatedValue">
              <th mat-header-cell *matHeaderCellDef>Accumulated value</th>
              <td mat-cell *matCellDef="let detail">{{ detail.accumulatedValue | number:'1.2-2' }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=displayedColumns></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          </table>
          <mat-paginator class="mat-elevation-z8"
                         [pageSize]="6"
                         [pageSizeOptions]="[3,6,12]"
                         [length]=length
                         (page)=onPageChange($event)
                         showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

