.calc-container {
  padding: 6.4rem 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap: 3.2rem;
}

mat-card {
  padding: 2.4rem;
}

.calc-input-card {
  display: flex;
  width: 100%;
}

.calc-result-card {
  display: flex;
  width: 100%;
}

.calculation-actions {
  display: flex;
  justify-content: center;
}

.calculation-actions button {
  margin-right: 5px;
}

/* Ensure cards stack vertically on smaller screens */
@media (max-width: 768px) {
  mat-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.calc-result {
  display: flex;
  flex-direction: column;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for input fields and labels */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

form label {
  flex: 0 0 150px; /* Set label width */
  text-align: right;
}

form input {
  flex: 1;
  padding: 1.2rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  transition: border-bottom-color 0.3s;
}

form input:focus {
  border-bottom-color: #007BFF;
}

.toggles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: left;
  gap: 3.2rem
}

mat-card-actions {
  padding-top: 2.4rem;
}

mat-card-header {
  font: var(--mat-sys-headline-large);
  //font-size: var(--mat-sys-headline-medium-size);
}

mat-label {

}

.calc-intro {
  grid-row: 1;
  grid-column: span 2
}

.calc-details {
  grid-row: 2;
  grid-column: span 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap: 3.2rem;
}

.color-scheme-section {
  max-width: 41.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 2.4rem auto 0;

  border-radius: var(--mat-sys-corner-small);
  border: 1px solid var(--mat-sys-outline);
  overflow: hidden;
}

.color-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem;
  border: none;
  border-radius: 0;
}

.color-item:not(:last-child) {
  border-bottom: 1px solid var(--mat-sys-outline);
}

.primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.surface {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.outline {
  background-color: var(--mat-sys-outline);
  color: var(--mat-sys-on-outline);
}

.outline-variant {
  background-color: var(--mat-sys-outline-variant);
  color: var(--mat-sys-on-outline-variant);
}

.primary-container {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.secondary{
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
}

.secondary-container {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

.tertiary{
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
}

.tertiary-container {
  background-color: var(--mat-sys-tertiary-container);
  color: var(--mat-sys-on-tertiary-container);
}

.error {
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}

.error-container {
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
}

.color-item div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: auto;
  align-items: end;
}

.color-item-name {
  font: var(--mat-sys-title-medium);
}

.color-item-code {
  font: var(--mat-sys-title-small);
  font-family: monospace;
}
