<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">

      <a mat-list-item routerLink="/compound">
        <mat-icon>library_books</mat-icon>
        <span>Compound</span>
      </a>

      <a mat-list-item routerLink="/dragdrop">
        <mat-icon>question_answer</mat-icon>
        <span>Drag & Drop</span>
      </a>

      <a mat-list-item routerLink="/form">
        <mat-icon>form</mat-icon>
        <span>Form</span>
      </a>

      <a mat-list-item routerLink="/profile">
        <mat-icon>persona</mat-icon>
        <span>Profile</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
    <button (click)="authService.logout({ logoutParams: { returnTo: document.location.origin } })">
      Log out
    </button>
  </ng-container>

  <ng-template #loggedOut>
    <button (click)="authService.loginWithRedirect()">Log in</button>
  </ng-template>

  <mat-toolbar color="tertiary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <div class="theme-controls">
      <div class="theme-control-wrapper">
        <button
          mat-button
          class="theme-control-button"
          (click)="toggleThemeMenu(); closePaletteMenu()"
          [class.active]="isThemeMenuOpen">
          <mat-icon>{{ getCurrentThemeIcon() }}</mat-icon>
          <span>{{ getCurrentThemeLabel() }}</span>
          <mat-icon class="dropdown-icon">{{ isThemeMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>

        <div class="theme-control-dropdown" *ngIf="isThemeMenuOpen">
          <mat-button-toggle-group
            [value]="themeService.getTheme()"
            (change)="changeTheme($event.value); closeThemeMenu()"
            aria-label="Color scheme"
            appearance="standard"
            vertical>
            <mat-button-toggle [value]="ThemeMode.LIGHT">
              <mat-icon>light_mode</mat-icon>
              <span>Light</span>
            </mat-button-toggle>
            <mat-button-toggle [value]="ThemeMode.DARK">
              <mat-icon>dark_mode</mat-icon>
              <span>Dark</span>
            </mat-button-toggle>
            <mat-button-toggle [value]="ThemeMode.SYSTEM">
              <mat-icon>brightness_auto</mat-icon>
              <span>System</span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="theme-control-wrapper">
        <button
          mat-button
          class="theme-control-button"
          (click)="togglePaletteMenu(); closeThemeMenu()"
          [class.active]="isPaletteMenuOpen">
          <span class="palette-icon-wrapper">
            <span class="palette-indicator {{getCurrentPaletteClass()}}"></span>
          </span>
          <span>{{ getCurrentPaletteLabel() }}</span>
          <mat-icon class="dropdown-icon">{{ isPaletteMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>

        <div class="theme-control-dropdown" *ngIf="isPaletteMenuOpen">
          <mat-button-toggle-group
            [value]="themeService.getPalette()"
            (change)="changePalette($event.value); closePaletteMenu()"
            aria-label="Color palette"
            appearance="standard"
            vertical>
            <mat-button-toggle [value]="ThemePalette.MAGENTA_VIOLET">
              <span class="palette-indicator magenta-violet"></span>
              <span>Magenta</span>
            </mat-button-toggle>
            <mat-button-toggle [value]="ThemePalette.AZURE_CYAN">
              <span class="palette-indicator azure-cyan"></span>
              <span>Azure</span>
            </mat-button-toggle>
            <mat-button-toggle [value]="ThemePalette.GREEN_CHARTREUSE">
              <span class="palette-indicator green-chartreuse"></span>
              <span>Green</span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>

  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
