<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">

      <a mat-list-item routerLink="/compound">
        <mat-icon>library_books</mat-icon>
        <span>Compound</span>
      </a>

      <a mat-list-item routerLink="/dragdrop">
        <mat-icon>question_answer</mat-icon>
        <span>Drag & Drop</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
