<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">

      <a mat-list-item routerLink="/compound">
        <mat-icon>library_books</mat-icon>
        <span>Compound</span>
      </a>

      <a mat-list-item routerLink="/dragdrop">
        <mat-icon>question_answer</mat-icon>
        <span>Drag & Drop</span>
      </a>

      <a mat-list-item routerLink="/form">
        <mat-icon>form</mat-icon>
        <span>Form</span>
      </a>

      <a mat-list-item routerLink="/profile">
        <mat-icon>persona</mat-icon>
        <span>Profile</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="tertiary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <div class="theme-controls">
      <div class="theme-control-wrapper">
        <button
          class="theme-control-button"
          mat-icon-button
          (click)="toggleThemeMenu(); closePaletteMenu()"
          [class.active]="isThemeMenuOpen"
          [matMenuTriggerFor]="themeMenu"
          aria-label="Appearance settings">
          <mat-icon>{{ getCurrentThemeIcon() }}</mat-icon>
        </button>

        <mat-menu #themeMenu="matMenu">
          <button
            mat-menu-item
            (click)="changeTheme(ThemeMode.LIGHT)"
            [class.active]="themeService.getTheme() === ThemeMode.LIGHT">
            <mat-icon>light_mode</mat-icon>
            <span>Light Mode</span>
          </button>
          <button
            mat-menu-item
            (click)="changeTheme(ThemeMode.DARK)"
            [class.active]="themeService.getTheme() === ThemeMode.DARK">
            <mat-icon>dark_mode</mat-icon>
            <span>Dark Mode</span>
          </button>
          <button
            mat-menu-item
            (click)="changeTheme(ThemeMode.SYSTEM)"
            [class.active]="themeService.getTheme() === ThemeMode.SYSTEM">
            <mat-icon>brightness_auto</mat-icon>
            <span>System Mode</span>
          </button>
        </mat-menu>
      </div>

      <div class="theme-control-wrapper">
        <button
          mat-icon-button
          (click)="togglePaletteMenu(); closeThemeMenu()"
          [class.active]="isPaletteMenuOpen"
          [matMenuTriggerFor]="paletteMenu"
          aria-label="Color palette">
          <span class="palette-indicator {{getCurrentPaletteClass()}}"></span>
        </button>

        <mat-menu #paletteMenu="matMenu">
          <button
            mat-menu-item
            (click)="changePalette(ThemePalette.MAGENTA_VIOLET)"
            [class.active]="themeService.getPalette() === ThemePalette.MAGENTA_VIOLET">
            <div class="palette-indicator-container">
              <span class="palette-indicator magenta-violet"></span>
              <span>Magenta</span>
            </div>
          </button>
          <button
            mat-menu-item
            (click)="changePalette(ThemePalette.AZURE_CYAN)"
            [class.active]="themeService.getPalette() === ThemePalette.AZURE_CYAN">
            <div class="palette-indicator-container">
              <span class="palette-indicator azure-cyan"></span>
              <span>Azure</span>
            </div>
          </button>
          <button
            mat-menu-item
            (click)="changePalette(ThemePalette.GREEN_CHARTREUSE)"
            [class.active]="themeService.getPalette() === ThemePalette.GREEN_CHARTREUSE">
            <div class="palette-indicator-container">
              <span class="palette-indicator green-chartreuse"></span>
              <span>Green</span>
            </div>
          </button>
        </mat-menu>
      </div>

      <div class="auth-control">
        <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
          <button
            mat-stroked-button
            class="auth-button logout-button"
            (click)="authService.logout({ logoutParams: { returnTo: document.location.origin } })">
            <mat-icon>logout</mat-icon>
            <span>Log out</span>
          </button>
        </ng-container>
        <ng-template #loggedOut>
          <button
            mat-raised-button
            class="auth-button login-button"
            color="primary"
            (click)="authService.loginWithRedirect()">
            <mat-icon>login</mat-icon>
            <span>Log in</span>
          </button>
        </ng-template>
      </div>
    </div>

  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
