@use '@angular/material' as mat;

@include mat.core();

$azure-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$cyan-palette
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
  density: (
    scale: 0,
  )
));

$azure-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$cyan-palette
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
  density: (
    scale: 0,
  )
));

.azure-light-theme {
  @include mat.theme($azure-light-theme);
}

.azure-light-theme {
  @include mat.theme($azure-light-theme);
}
