@use '@angular/material' as mat;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

html[data-theme="light"] {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
      theme-type: color-scheme
    ),
    typography: Roboto,
    density: 0
  ));

  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
  //box-shadow: 0 0 0 8px rgba(230, 126, 0, 0.5);
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 150rem;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
}

